CNAIROUTER_IMAGE=cnairouter:latest
CNAIROUTER_PORT=3000

POSTGRES_USER=root
POSTGRES_PASSWORD=change-me
POSTGRES_DB=cnairouter

REDIS_PASSWORD=change-me
SESSION_SECRET=change-this-session-secret

TZ=Asia/Shanghai
NODE_NAME=cnairouter-node-1
